:root {
  --background--color: hsl(280, 6%, 10%);

  --main--text: #fffffe;
  --seconday--text: #94a1b2q;

  --highlight--color: #7f5af0;
}

body {
  background-color: var(--background--color);

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: "Roboto", sans-serif;

  max-width: 1230px;

  margin: 0 auto;

  width: 100%;
  min-height: 100vh;

  align-items: center;

  & main {
    width: 100%;
    max-width: 1000px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    align-items: center;

    .general {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6em;

      &__logo {
        height: 200px;
        width: 200px;

        img {
          height: 100%;
          width: 100%;

          mask-image: url("./assets/svg/svg-6.svg");
          -webkit-mask-image: url("./assets/svg/svg-6.svg");
          mask-size: contain;
          -webkit-mask-size: contain;
          mask-repeat: no-repeat;
          -webkit-mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-position: center;
        }
      }

      &__info {
        color: var(--main--text);

        font-weight: bold;
        font-size: 3em;
      }
    }

    .searchbar {
      padding: 1em;

      & input {
        max-width: 100%;
        width: 300px;

        display: block;

        padding: 1em;

        border: none;
        border-radius: 0.5em;

        outline: none;

        &::placeholder {
          text-align: center;
        }
      }
    }

    .links {
      & ul {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;

        list-style: none;

        li {
          // border: 2px solid var(--highlight--color);
          // border-radius: 5px;

          min-width: 80px;

          // padding: 2em 1em;
          padding: 1em 0em;

          text-align: center;

          img {
            max-width: 90px;

            height: 100%;

            background-color: var(--main--text);
          }

          a {
            text-decoration: none;
            color: var(--highlight--color);

            font-weight: bold;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main--text);
}

.github {
  height: 100%;
  width: 100%;

  mask-image: url("./assets/svg/icons/github.svg");
  -webkit-mask-image: url("./assets/svg/icons/github.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.youtube {
  height: 100%;
  width: 100%;

  mask-image: url("./assets/svg/icons/youtube.svg");
  -webkit-mask-image: url("./assets/svg/icons/youtube.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.reddit {
  height: 100%;
  width: 100%;

  mask-image: url("./assets/svg/icons/reddit.svg");
  -webkit-mask-image: url("./assets/svg/icons/reddit.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.telegram {
  height: 100%;
  width: 100%;

  mask-image: url("./assets/svg/icons/telegram.svg");
  -webkit-mask-image: url("./assets/svg/icons/telegram.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
.stack {
  height: 100%;
  width: 100%;

  mask-image: url("./assets/svg/icons/stackoverflow.svg");
  -webkit-mask-image: url("./assets/svg/icons/stackoverflow.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
