@import url("https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400&display=swap");
:root {
  --background--color: hsl(280, 6%, 10%);
  --main--text: #fffffe;
  --seconday--text: #94a1b2q;
  --highlight--color: #7f5af0;
  --main--font: "Mountains of Christmas", cursive;
}

body {
  background-color: var(--background--color);
  font-family: var(--main--font);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1230px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}
body ul {
  list-style: none;
  padding: 0;
}
body input[type=text] {
  font-family: "Mountains of Christmas", cursive;
  font-weight: bolder;
  color: var(--background--color);
}
body main {
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  align-items: center;
}
body main .general {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
body main .general__logo {
  max-width: 200px;
}
body main .general__logo .logo {
  height: 100%;
  width: 100%;
  mask-image: url("./assets/svg/jack.svg");
  -webkit-mask-image: url("./assets/svg/jack.svg");
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}
body main .general__time {
  color: var(--main--text);
  min-width: 220px;
  font-size: 4em;
  display: flex;
}
body main .general__time > div:nth-child(1)::after,
body main .general__time > div:nth-child(2)::after {
  content: ":";
  position: relative;
  right: 5px;
}
body main .search {
  width: 100%;
  display: flex;
}
body main .search form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
body main .search form input {
  padding: 1em;
  max-width: 380px;
  border: none;
  border-radius: 0.5em;
  outline: none;
  transition: ease-in-out 0.4s;
}
body main .search form input::-moz-placeholder {
  text-align: center;
}
body main .search form input:-ms-input-placeholder {
  text-align: center;
}
body main .search form input::placeholder {
  text-align: center;
}
body main .search form input:focus {
  box-shadow: rgba(104, 10, 141, 0.4) 0px 0px 0px 2px, rgba(61, 7, 122, 0.65) 0px 4px 6px -1px, rgba(90, 17, 139, 0.08) 0px 1px 0px inset;
  transform: translateY(-5px);
  transition: ease-in-out 0.4s;
}
body main .links {
  width: 100%;
}
body main .links ul {
  display: flex;
  gap: 2.5em;
  flex-wrap: wrap;
  justify-content: center;
}
body main .links ul li {
  max-width: 80px;
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
  transition: ease-in-out 0.4s;
}
body main .links ul li img {
  max-width: 90px;
  height: 100%;
  background-color: var(--main--text);
}
body main .links ul li a {
  text-decoration: none;
  color: var(--highlight--color);
  font-weight: bold;
}
body main .links ul li:hover {
  cursor: pointer;
  box-shadow: rgba(104, 10, 141, 0.4) 0px 0px 0px 2px, rgba(61, 7, 122, 0.65) 0px 4px 6px -1px, rgba(140, 13, 224, 0.08) 0px 1px 0px inset;
  transform: translateY(-5px);
  transition: ease-in-out 0.4s;
}
@media (hover: none) {
  body .links ul li:hover {
    cursor: default;
    box-shadow: none;
    transform: translateY(0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--main--text);
}

.github,
.youtube,
.reddit,
.telegram,
.gmail {
  height: 100%;
  max-width: 100%;
  width: 50px;
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.github {
  mask-image: url("./assets/svg/icons/github.svg");
  -webkit-mask-image: url("./assets/svg/icons/github.svg");
}

.youtube {
  mask-image: url("./assets/svg/icons/youtube.svg");
  -webkit-mask-image: url("./assets/svg/icons/youtube.svg");
}

.reddit {
  mask-image: url("./assets/svg/icons/reddit.svg");
  -webkit-mask-image: url("./assets/svg/icons/reddit.svg");
}

.telegram {
  mask-image: url("./assets/svg/icons/telegram.svg");
  -webkit-mask-image: url("./assets/svg/icons/telegram.svg");
}

.gmail {
  mask-image: url("./assets/svg/icons/gmail.svg");
  -webkit-mask-image: url("./assets/svg/icons/gmail.svg");
}

.bongo {
  width: 100%;
  max-width: 100px;
  border-radius: 5px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */